body{
    margin: 0;
    background-color: rgb(45, 119, 153);
    min-width: 1300px;
}

h1 {
  color: white;
  padding-left: 10px;
  margin-bottom: 5px;
}

.feedbackbox{
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
  color: #f2f2f2;
}

.viewFeedbackbox{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60%;
  padding: 10px;
  text-align: center;
  color: black;
  background-color: #f2f2f2;
}

.aboutUsBox{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 60%;
  color: #f2f2f2;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.cart table{
  background-color: #f2f2f2;
  margin: auto;
}

.cart h2{
  color: #f2f2f2;
}

.cart{
  text-align: center;
  padding-bottom: 10%;
}

.sidebar{
  color:whitesmoke;
  background-color: #333;
  font-size: 1em;
  float: left;
}

hr.divider {
  border-top: 3px solid #bbb;
  margin-top: 20px;
  margin-left: 5px;
}

.content{
    padding-left:9.5%;
    padding-right:9.5%;
}

.contentProduct{
  padding-left:10%;
  padding-right:10%;
}
.container{
    display: block;   
}

.topnav {
    overflow: hidden;
    background-color: #333;
    padding-top: 10px;
  }
  
  
  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
 
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding-left: 5px;
}

.grid-container-orders {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding-left: 5px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

.product-image{
  margin-left: auto;
  margin-right: auto;
  height: 200px;
	width: 300px;
	background-color: #FFF;
}

.product-title{
  padding:5px;
}