
.container{
    background-color: white;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

h1{
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
}

.container label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.container input{
    width: 100% ;
    margin-bottom: 20px;
}

.container input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid grey;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.container input[type="submit"]{
    border: none;
    outline: none;
    height:40px;
    background: #fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px ;
}

.container input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}


body{
    background-color: rgb(45, 119, 153);
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family:sans-serif ;
    min-height: 700px;
}



.container a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: darkgrey;
    float: right;
    margin-right: 5px;
}

.container a:hover{
    color: blue;
}